.hide {
  display: none;
}

body
{
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  align-content: center;
}
.jumptron{
  background-color: none;
}
.COVID{
  color: maroon;
  font-size: 80px;
  background-color: none;
}
.btn-primary {
  color: white;
  background-color: maroon;
  border-color: maroon;
  align-self: center;
}

.icon{
  text-align: right;
}
.menu-4{
  text-align: left;
}

/* do we want this center or left aligned?
.priceContainer,
.activityContainer,
.peopleContainer{
  text-indent: 300;
  text-align: center;
} */


img{
  width: 40px;
  height: 40px;

}


.footer{
  color: maroon;
}